# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

.wwebjs_cache

sessions/
# Caché de WhatsApp Web JS
.wwebjs*
.wwebjs_auth/

# Logs
logs/
*.log

# Archivos de prueba
test-document.pdf

# Otros archivos temporales
uploads/

logs/
*.log
